<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link href={{ url_for('static', filename='css/main.css') }} rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v18_0">
      <div class="v6_0">
        <div class="v6_1"></div>
        <div class="v6_13"></div>
        <div class="v6_16"></div>
        <div class="v6_14"></div>
        <div class="v6_3"></div>
        <div class="v6_17"></div>
        <span class="v12_0">Dashboard</span><span class="v12_1">Stock</span
        ><span class="v12_2">Transactions</span>
      </div>
      <div class="v18_13"></div>
      <div class="v6_103">
        <div class="v6_104"></div>
        <span class="v18_16">Transactions</span>
      </div>
      <div class="v18_14">
        <div class="v18_15"></div>
        <span class="v8_9">Stock</span>
      </div>
      <div class="v2_5"></div>
    </div>
  </body>
</html>
